@{
    Layout = null;
}
    <div id="fxshell-drawer-surround">
        <div class="fxshell-drawer">
            <div class="fxshell-toastbox fxshell-drawerconfirmbox">
                <div class="fxshell-toastbox-container" style="opacity: 0.6; width: 1160px; height: 0px; ">
                    <div class="fxshell-toastbox-contentContainer"></div>
                </div>
            </div><div class="fxshell-toastbox fxshell-drawerprogressbox">
                      <div class="fxshell-toastbox-container" style="opacity: 0.6; width: 1160px; height: 0px; ">
                          <div class="fxshell-toastbox-controls">
                              <button class="fxshell-toastbox-close">close</button>
                          </div><div class="fxshell-toastbox-contentContainer">
                                    <div class="fxshell-drawerprogressbox-progressSummaries">
                                        <div class="fxshell-drawerprogressbox-progressOverallStatus">
                                            <h4 style="">hi</h4>
                                            <a class="fxshell-drawerprogressbox-dismissAll fx-button" role="button">dismiss completed</a>
                                        </div>
                                        <ul style=""></ul>
                                    </div>
                                    <div class="fxshell-drawerprogressbox-progressStepsContainer" style="display: none; ">
                                        <button class="fxshell-drawerprogressbox-back">
                                            <img src="//az213233.vo.msecnd.net/Content/Images/icon-progress-back-arrow.png" alt="Back to operations">
                                        </button>
                                        <h4 class="fxshell-drawerprogressbox-progressMessage"></h4>
                                        <div class="fxshell-drawerprogressbox-progressSteps"></div>
                                        <div class="fxshell-drawerprogressbox-progressBehavior"></div>
                                    </div>
                                    <div class="fxshell-drawerprogressbox-progressDetailContainer" style="display: none; ">
                                        <button class="fxshell-drawerprogressbox-back">
                                            <img src="//az213233.vo.msecnd.net/Content/Images/icon-progress-back-arrow.png" alt="Back to operation">
                                        </button>
                                        <h4 class="fxshell-drawerprogressbox-progressMessage"></h4>
                                        <div class="fxshell-drawerprogressbox-progressDetail">
                                            <div class="fxshell-drawerprogressbox-progressDetailWrapper"></div>
                                        </div>
                                        <div class="fxshell-drawerprogressbox-progressBehavior"></div>
                                    </div>
                                </div>
                      </div>
                  </div>
            <div class="fxshell-toastbox fxshell-draweralertbox">
                <div class="fxshell-toastbox-container" style="opacity: 0.6; width: 1160px; height: 0px; ">
                    <div class="fxshell-toastbox-controls">
                        <button class="fxshell-toastbox-close">close</button>
                    </div>
                    <div class="fxshell-toastbox-contentContainer">
                        <ul class="fxshell-draweralertbox-alertSummaries fxshell-draweralertbox-notifications" style=""></ul>
                        <div class="fxshell-draweralertbox-alertDetailContainer" style="display: none; ">
                            <button class="fxshell-draweralertbox-back"></button>
                            <div class="fxshell-draweralertbox-alertBehavior"></div>
                            <h4 class="fxshell-draweralertbox-alertMessage"></h4>
                            <div class="fxshell-draweralertbox-alertDetail">
                                <div class="fxshell-draweralertbox-alertDetailWrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fxshell-drawer-container ">
                <div class="fxshell-drawer-slip"><!--jsv:_1-->
                    <div class="fxshell-drawer-controlBar">
                        <button class="fxshell-drawer-open">
                            <span class="fxshell-icon-img"></span>New
                        </button>
                        <div class="fxshell-drawer-commandBar" style="display: inline-block; ">
                            <div class="fxshell-commandbar-container">
                                <ul class="fxshell-commandbar-globalcommands-list"></ul>
                                <ul class="fxshell-commandbar-contextualcommands-list"></ul>
                            </div>
                        </div>
                        <div class="fxshell-drawer-buttonContainer"></div>
                        <button class="fxshell-drawer-help" title="Help">
                            <span class="fxshell-icon-img">
                                      <img src="//az213233.vo.msecnd.net/Content/Images/icon-drawer-help.png" alt="Help">
                                  </span>
                        </button>
                    </div><!--jsv/t--><!--jsv:_2-->
                    <div class="fxshell-drawer-creation">
                        <div class="fxshell-drawer-title">New</div>
                        <div class="fxshell-drawer-helptitle">Help</div>
                        <div class="fxshell-drawer-menu">
                            <div class="fxshell-drawer-addmenu">
                                <div class="fx-scrollbar-widget scrollable-overflow" style="width: 228px; height: 331px; margin: 0px; border: 0px none rgb(255, 255, 255); top: auto; right: auto; bottom: auto; left: auto; float: none; ">
                                    <div class="scrollable-area" style="overflow-x: hidden; overflow-y: auto; width: 228px; height: 331px; ">
                                        <ul style="height: 331px; margin: 0px; border-width: 0px; position: static; overflow: hidden; width: 228px; ">
                                            <li data-link="aria-disabled{&gt;disabled}" aria-disabled="true">
                                                <div class="icon WebSite"></div>
                                                <span>Web Site</span>
                                            </li>
                                            <li data-link="aria-disabled{&gt;disabled}" aria-disabled="true">
                                                <div class="icon VirtualMachineExtension"></div>
                                                <span>Virtual Machine</span>
                                            </li><li data-link="aria-disabled{&gt;disabled}" aria-disabled="true">
                                                     <div class="icon HostedService"></div>
                                                     <span>Cloud service</span>
                                                 </li><li data-link="aria-disabled{&gt;disabled}" aria-disabled="true"><div class="icon Database"></div><span>Sql Database</span></li><li data-link="aria-disabled{&gt;disabled}" aria-disabled="true"><div class="icon StorageAccount"></div><span>Storage</span></li><li data-link="aria-disabled{&gt;disabled}" aria-disabled="true"><div class="icon NetworkExtension"></div><span>Network</span></li><li data-link="aria-disabled{&gt;disabled}" aria-disabled="true"><div class="icon MediaService"></div><span>Media Service</span></li>
                                              </ul>
                                    </div><div class="scrollbar-track axis-x" style="display: none; "><div class="scrollbar-handle" style="width: 227px; left: 0px; "></div></div><div class="scrollbar-track axis-y" style="display: none; "><div class="scrollbar-handle" style="height: 331px; top: 0px; "></div></div>
                                </div>
                            </div><div class="fxshell-drawer-addmenu-sub" style="width: 0px; opacity: 0; "><div class="fx-scrollbar-widget scrollable-overflow" style="width: 229px; height: 330.8888854980469px; margin: 0px; border: 0px none rgb(255, 255, 255); top: auto; right: auto; bottom: auto; left: auto; float: none; "><div class="scrollable-area" style="overflow-x: hidden; overflow-y: auto; width: 229px; height: 330.8888854980469px; "><ul style="height: 330.8888854980469px; margin: 0px; border-width: 0px; position: static; overflow: hidden; width: 229px; "></ul></div><div class="scrollbar-track axis-x" style="display: none; "><div class="scrollbar-handle"></div></div><div class="scrollbar-track axis-y" style="display: none; "><div class="scrollbar-handle"></div></div></div></div><div class="fxshell-drawer-addmenu-details"><div class="fxshell-menu-content"></div><a href="#" class="fxshell-drawer-ok"></a></div>
                        </div><button class="fxshell-drawer-close command-cancel"></button><div class="fxshell-drawer-content fxshell-scrollbar"></div>
                    </div><!--jsv/t--></div><div class="fxshell-drawer-guard"></div>
                        </div>
        </div><!--jsv/t--></div>