    <div id="fxshell-navpane">
        <div id="fxshell-nav1" style="left: 0px; ">
            <div class="fx-scrollbar-widget scrollable-overflow" style="width: 198px; height: 81px; margin: 0px; border: 0px none rgb(50, 50, 50); position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; float: none; ">
                <div class="scrollable-area" style="overflow-x: hidden; overflow-y: auto; width: 238px; height: 300px; ">
                    <div id="fxshell-nav1-scroll" class="fx-scrollbar" data-fxcontrol-overlay="true" style="margin: 0px; border-width: 0px; position: static; overflow: hidden; width: 198px; height: auto; ">
                        <div id="fxshell-nav1-items"><!--jsv:_7--><!--jsvi-->
                            <div class="fxshell-nav1-item selected" data-link="title{&gt;displayError} ms-azure-extension{&gt;name} data-name{&gt;name} data-state{&gt;~state(#view, isVisible, displayError, showSpinner, count)} onclick{:~onClick(showSpinner,'#Workspace',name)}" ms-azure-extension="All" data-name="All" data-state="2digit" onclick="location.hash=&quot;#Workspace/All&quot;;">
                                <div class="fxshell-nav1-icon" style="background-image:url(//az213233.vo.msecnd.net/Content/All/All.png);"></div>
                                <div class="fxshell-nav1-count" data-link="{&gt;count} data-showcount{&gt;iconShowCount} data-invertcolor{&gt;iconInvertTextColor}" data-showcount="false" data-invertcolor="false">3</div>
                                <div class="fxshell-nav1-label" data-link="displayName">Dashboard</div>
                            </div>
                            <div class="fxshell-nav1-item" data-link="title{&gt;displayError} ms-azure-extension{&gt;name} data-name{&gt;name} data-state{&gt;~state(#view, isVisible, displayError, showSpinner, count)} onclick{:~onClick(showSpinner,'#Workspace',name)}" ms-azure-extension="All" data-name="All" data-state="2digit" onclick="location.hash=&quot;#Workspace/All&quot;;">
                                <div class="fxshell-nav1-icon" style="background-image:url(//az213233.vo.msecnd.net/Content/All/All.png);"></div>
                                <div class="fxshell-nav1-count" data-link="{&gt;count} data-showcount{&gt;iconShowCount} data-invertcolor{&gt;iconInvertTextColor}" data-showcount="false" data-invertcolor="false">3</div>
                                <div class="fxshell-nav1-label" data-link="displayName">Orders</div>
                            </div>
                            <div class="fxshell-nav1-item" data-link="title{&gt;displayError} ms-azure-extension{&gt;name} data-name{&gt;name} data-state{&gt;~state(#view, isVisible, displayError, showSpinner, count)} onclick{:~onClick(showSpinner,'#Workspace',name)}" ms-azure-extension="All" data-name="All" data-state="2digit" onclick="location.hash=&quot;#Workspace/All&quot;;">
                                <div class="fxshell-nav1-icon" style="background-image:url(//az213233.vo.msecnd.net/Content/All/All.png);"></div>
                                <div class="fxshell-nav1-count" data-link="{&gt;count} data-showcount{&gt;iconShowCount} data-invertcolor{&gt;iconInvertTextColor}" data-showcount="false" data-invertcolor="false">3</div>
                                <div class="fxshell-nav1-label" data-link="displayName">Customers</div>
                            </div>
                            </div>
                              <div id="fxshell-devTools">
                              </div>
                          </div>
                </div><div class="scrollbar-track axis-x" style="display: none; "><div class="scrollbar-handle" style="width: 177px; left: 0px; "></div></div><div class="scrollbar-track axis-y" style=""><div class="scrollbar-handle" style="height: 27.567226890756302px; top: 0px; "></div></div>
            </div>
        </div>
        <div id="fxshell-nav2" style="left: 200px; ">
            <a id="fxshell-nav2-back">
                <img src="//az213233.vo.msecnd.net/Content/Images/fxshell.nav2.back.png" alt="Back">
                <span></span>
            </a>
            <div id="fxshell-nav2-scroll">
                <div class="fx-scrollbar-widget scrollable-overflow" style="width: 198px; height: 5px; margin: 0px; border: 0px none rgb(50, 50, 50); position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; float: none; "><div class="scrollable-area" style="overflow-x: hidden; overflow-y: auto; width: 198px; height: 5px; "><div id="fxshell-nav2-items" class="fx-scrollbar" data-fxcontrol-overlay="true" style="margin: 0px; border-width: 0px; position: static; overflow: hidden; width: 198px; height: 5px; ">
                </div></div><div class="scrollbar-track axis-x" style="display: none; "><div class="scrollbar-handle" style="width: 197px; left: 0px; "></div></div><div class="scrollbar-track axis-y" style="display: none; "><div class="scrollbar-handle" style="height: 15px; top: 0px; "></div></div></div>
            </div>
        </div>
    </div>