    <div class="fxshell-avatarbar fxshell-avatarbar-container fxshell-avatarbar-container-expandable">
        <div class="fxshell-avatarbar-large"><span>Social Threads</span>
            @*<img class="fxshell-avatarbar-logo" src="needlogopathincdn" alt="Social Threads">*@
            <div class="fxshell-avatarbar-links-container">
                <nav class="fxshell-avatarbar-navbar">
                    <ul class="fxshell-avatarbar-links-list">
                        <li class="fxshell-avatarbar-links-listitem">
                            <a class="fxshell-avatarbar-links-link" href="https://go.microsoft.com/fwlink/p/?linkid=232466&amp;CLCID=0x409">Home</a>
                        </li>
                        <li class="fxshell-avatarbar-links-listitem">
                            <a class="fxshell-avatarbar-links-link" href="https://go.microsoft.com/fwlink/p/?linkid=232467&amp;CLCID=0x409">Pricing</a>
                        </li>
                        <li class="fxshell-avatarbar-links-listitem">
                            <a class="fxshell-avatarbar-links-link" href="https://go.microsoft.com/fwlink/p/?linkid=232468&amp;CLCID=0x409">Develop</a>
                        </li>
                        <li class="fxshell-avatarbar-links-listitem">
                            <a class="fxshell-avatarbar-links-link" href="https://go.microsoft.com/fwlink/?LinkId=254708&amp;CLCID=0x409">Manage</a>
                        </li>
                        <li class="fxshell-avatarbar-links-listitem">
                            <a class="fxshell-avatarbar-links-link" href="https://go.microsoft.com/fwlink/p/?linkid=232469&amp;CLCID=0x409">Community</a>
                        </li>
                        <li class="fxshell-avatarbar-links-listitem">
                            <a class="fxshell-avatarbar-links-link" href="https://go.microsoft.com/fwlink/p/?linkid=232470&amp;CLCID=0x409">Support</a>
                        </li>
                        <li class="fxshell-avatarbar-links-listitem">
                            <a class="fxshell-avatarbar-links-link" href="https://account.windowsazure.com/Subscriptions">Account</a>
                        </li>
                        <li class="fxshell-avatarbar-links-listitem">
                            <a class="fxshell-avatarbar-links-link fxshell-avatarbar-links-selectedlink" href="#">Portal</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="fxshell-avatarbar-login-container">
                <img class="fxshell-avatarbar-userpicture" style="display: none; ">
                <div class="fxshell-avatarbar-privacylinks">
                    <a href="http://go.microsoft.com/fwlink/?LinkID=251506&amp;clcid=0x409" class="fxshell-avatarbar-legal">Legal</a><span class="fxshell-avatarbar-separator"> | </span><a href="http://go.microsoft.com/fwlink/?LinkID=131004" class="fxshell-avatarbar-privacycookies">Privacy &amp; Cookies</a>
                </div>
                <div class="fxshell-avatarbar-sigoutandfeedback">
                    <a href="#" class="fxshell-avatarbar-signout">Sign out</a>
                </div>
                <span class="fxshell-avatarbar-username" alt="socialthreads@live.com">socialthreads@live.com</span>
            </div>
        </div>
        <div class="fxshell-avatarbar-small"><span>Social Threads</span>
            @*<img class="fxshell-avatarbar-logo" src="//az213233.vo.msecnd.net/Content/Images/layout-brand-sm.png" alt="Windows Azure">*@
            <div class="fxshell-avatarbar-login-container">
                <img class="fxshell-avatarbar-userpicture" style="display: none; ">
                <span class="fxshell-avatarbar-username" alt="socialthreads@live.com">socialthreads@live.com</span>
            </div>
            <a href="#" class="fxshell-avatarbar-feedback" alt="Give feedback" title="We value your feedback.">
                <img class="fxshell-avatarbar-feedbackicon" src="//az213233.vo.msecnd.net/Content/Images/fxshell.feedback.icon.png" alt="Give feedback">
            </a>
            <div class="preview-badge">Preview</div>
        </div>
    </div>